
@{
    ViewBag.Title = "About";
}

<div class="hero">
    <img src="~/Content/Images/sebastiano-piazzi-tI_DEyjWOkY-unsplash.jpg" />
</div>

<h2>About</h2>

<p>Our vision is to connect returned missionaries to new missionaries who will be having similar experiences.</p>

