
@{
    ViewBag.Title = "About";
}

<div class="hero">
    <img src="~/Content/Images/hero-1600px-small.jpg" width=100% />
    <div>
        <h1>About</h1>
    </div>
</div>

<br />

<p>Our vision is to connect returned missionaries to new missionaries who will be having similar experiences.</p>

<p>
    Recommendation papers for full-time service may be submitted to Church headquarters by a prospective
    missionary’s stake president 120 days prior to his or her availability date. Availability date is the
    earliest date at which the prospective missionary is available to begin his or her mission. The earliest
    date young men may enter the MTC is after graduating from high school or its equivalent and reaching 18
    years of age. The earliest date women may enter the MTC is after their 19th birthday. Other influences
    on one's availability date may include completing a university semester, finishing an employment
    commitment, or stabilizing a medical condition. Speak with your priesthood leaders well before the 120
    day submission window to start the recommendation process and to confirm your availability date.
</p>

<p>
    The First Presidency has stated: “There are worthy individuals who desire to serve but do not qualify
    for the physical, mental, or emotional challenges of a mission. We ask stake presidents and bishops to
    express love and appreciation to these individuals and to honorably excuse them from full-time missionary
    labors.” In such cases, service missions can be a great blessing, allowing you to live at home and
    receive appropriate medical care while growing and maturing in the service of the Lord. Talk to your 
    bishop or branch president for more information on Church service missions.
</p>