
@{
    ViewBag.Title = "About";
}

<div class="hero">
    <img src="~/Content/Images/hero-1600px.jpg" width=100% />
    <div>
        <h1>About</h1>
    </div>
</div>

<h2>About</h2>

<p>Our vision is to connect returned missionaries to new missionaries who will be having similar experiences.</p>

