
@{
    ViewBag.Title = "About";
}

<div class="hero">
    <img />
</div>

<h2>About</h2>

<p>Our vision is to connect returned missionaries to new missionaries who will be having similar experiences.</p>

