
@{
    ViewBag.Title = "Index";
}

<br />
<br />

<div class="jumbotron jumbotron-fluid" style="background-color: black">

    <center><h1 style="color: aliceblue">Called To Serve</h1>
    <p class="lead" style="color: aliceblue">Mission Questions for Prospective Missionaries</p>

        <div class="container">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more about Missions</a>
        </div>
    </center>
</div>

<div>
    <center>
        <iframe width="728" height="410" src="https://www.youtube.com/embed/G3UmBVn8IXs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </center>
</div>
