
@{
    ViewBag.Title = "Index";
}

<h2>Missions</h2>

<form action="DisplayMission" method="post">
    <label>Select a mission:</label>
    <select>
        <option value="RussiaMoscow">Russia Moscow</option>
        <option value="BrazilBrasilia">Brazil Brasilia</option>
        <option value="CanadaHalifax">Canada Halifax</option>
    </select>
    <input type="submit" value="Go" />
</form>