
@{
    ViewBag.Title = "Index";
}

<h2>Missions</h2>

@using (Html.BeginForm("DisplayMission", "Missions", FormMethod.Post))
{
    <label>Select a mission:</label>
    <select name="id">
        <option value="1">Russia Moscow</option>
        <option value="2">Brazil Brasilia</option>
        <option value="3">Canada Halifax</option>
    </select>
    <input type="submit" value="Go" />
}