@model IEnumerable<MissionProject.Models.Mission>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    @Html.DropDownList("Select Mission", new SelectList(Model, "MissionID", "MissionName"))
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Select" class="btn btn-default" />
        </div>
    </div>
}


